<!-- <table>
  <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData; let i = index">
      @if(row.showName) {
      <td (click)="userClicked('showName', i)">{{ row.name }}</td>
      } @else {
      <input
        [(ngModel)]="row.name"
        (keydown)="userKeyPress('name', 'showName', row.name, $event, i)"
      />
      } @if(row.showAge) {
      <td (click)="userClicked('showAge', i)">{{ row.age }}</td>
      } @else {
      <input
        [(ngModel)]="row.age"
        (keydown)="userKeyPress('age', 'showAge', row.age, $event, i)"
      />
      } @if(row.showCity) {
      <td (click)="userClicked('showCity', i)">{{ row.city }}</td>
      } @else {
      <input
        [(ngModel)]="row.city"
        (keydown)="userKeyPress('city', 'showCity', row.city, $event, i)"
      />
      }
    </tr>
  </tbody>
</table> -->
<router-outlet></router-outlet>

<h1 class="title">Vamsi's Store</h1>

@if(isLoading) {
<div class="spinner">
  <mat-spinner></mat-spinner>
</div>
} @else { @if(editMode) {
<div class="form">
  <h3>{{ addNew ? "Add" : "Edit" }} Product</h3>
  <div class="form__container">
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="productName" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" [(ngModel)]="productPrice" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="productQuantity" />
    </mat-form-field>

    <div class="buttons-section">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>

} @else {
<div class="table-div">
  <button mat-flat-button (click)="onAddProduct()">Add Product</button>

  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="Name">
      <th class="table-data" mat-header-cell *matHeaderCellDef>Name</th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th class="table-data" mat-header-cell *matHeaderCellDef>Price</th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{ element.price }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <th class="table-data" mat-header-cell *matHeaderCellDef>Quantity</th>
      <td class="table-data" mat-cell *matCellDef="let element">
        {{ element.quantity }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th class="table-data" mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="table-data" mat-cell *matCellDef="let element">
        <div class="buttons-section">
          <button mat-raised-button (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
} }
